

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(20,123,211,0.8) 0%, rgba(0,128,128,1)100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.heropanel--video {
  font-family:sans-serif;
  min-height:500px;
}

@keyframes gm-slidein {
  from {
      -webkit-transform:translate3d(0,-100%,0);
      opacity:0;
      transform:translate3d(0,-100%,0);
  }
  
  to {
      -webkit-transform:none;
      opacity:1;
      transform:none;
  }
}

.heropanel__content {
  -moz-animation:gm-slidein 3s 1;
  -ms-animation:gm-slidein 3s 1;
  -o-animation:gm-slidein 3s 1;
  -webkit-animation:gm-slidein 3s 1;
  animation:gm-slidein 3s 1;
  border-bottom:1px solid #FFF;
  margin:0 auto;
  max-width:50%;
  padding:4em 0 2em;
  text-align:center;
}

.heropanel__content h1 {
  margin:0 0 .5em;
  text-transform:uppercase;
}

.heropanel__content h1 a {
  color:#FFF;
  text-decoration:none;
}

.heropanel__content p {
  color:#fff;
  margin:0;
  text-transform:uppercase;
}

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }
  
  h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
  }